@font-face {
    font-family: "PT Sans";
    src: url("../fonts/pt_sans-web-regular-webfont.woff") format("woff"),
    url("../fonts/pt_sans-web-regular-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/pt_sans-web-bold-webfont.woff") format("woff"),
    url("../fonts/pt_sans-web-bold-webfont.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Prata";
    src: url("../fonts/prata-regular-webfont.woff") format("woff"),
    url("../fonts/prata-regular-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
  width: 320px;
  margin: 0 auto;
}

.total_wrapper {
  padding: 5% 22px 2% 22px;

  background-image: url(../img/bg_main.png);
  background-repeat: no-repeat;
}

.title__full, .footer{
  display: none;
}

.header {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.toggler {
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 15px;
  display: flex;
  align-items: center;
  width: 1.5em;
  height: 3em;
  line-height: 3em;
  user-select: none;
}

.toggler > span {
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
  height: 0.1rem;
  background: #fff;
  border-radius: 0.2rem;
  position: relative;
  transition: background 0.3s 0.5s;
  transform: rotate(90deg);
}
.toggler > span:before,
.toggler > span:after {
  width: 100%;
  height: 0.1rem;
  background: #fff;
  border-radius: 0.2rem;
  position: absolute;
  left: 0;
  content: '';
  transform-origin: 50% 50%;
  transition: top 0.3s 0.6s, transform 0.3s;
}
.toggler > span:before {
  top: 0.6rem;
}
.toggler > span:after {
  top: -0.6rem;
}
.toggler--close > span {
  transition: background 0.3s 0;
  background: transparent;
}
.toggler--close > span:before,
.toggler--close > span:after {
  transition: top 0.3s, transform 0.3s 0.5s;
  top: 0;
}
.toggler--close > span:before {
  transform: rotate3d(0, 0, 1, 45deg);
}
.toggler--close > span:after {
  transform: rotate3d(0, 0, 1, -45deg);
}
.nav {
  list-style: none;
  padding: 0;
  margin: -22px -22px 0 -22px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: none;

  background-color: #000;
}

.nav--visible {
  display: block;
}

.nav__list {
  padding-top: 50px;
  padding-left: 0;
}

.nav__item {
  text-transform: uppercase;
  display: block;
  padding-left: 25px;
}

.nav__link {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}

.title__first-letter {
  text-transform: uppercase;
}

.promo_title, .logo_header {
  font-family: "Prata", serif;
  font-size: 32px;
  line-height: 42px;
  font-weight: normal;
  color: white;
}

.promo_title {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 5px;
}

.logo_header {
  display: inline-block;
  color: #eec643;
  z-index: 1;
}

.slogan {
  display: inline-block;
  margin-bottom: 90px;

  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: white;
}

.promo__btn {
  display: block;
  width: 100%;

  margin-bottom: 40px;
  padding: 20px 0px;

  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  background-color: #eec643;
  border: none;
}

.form__trial {
  display: none;
}

.title {
  font-family: "Prata", serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;

  border-top: 1px solid #eec643;
  border-bottom: 1px solid #eec643;

  padding: 3px 0;
  margin-top: 10px;
  margin-bottom: 15px;
}

.section__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.lessons__vocal {
  background-image: url(../img/lessons_card_img_1.png);
  background-repeat: no-repeat;
}

.lessons__guitar {
  background-image: url(../img/lessons_card_img_2.png);
  background-repeat: no-repeat;
}

.lessons__piano {
  background-image: url(../img/lessons_card_img_3.png);
  background-repeat: no-repeat;
}

.lessons__all {
  color: black;
}

.lessons__lections {
  display: none;
}

.section__btn {
  position: relative;
  
  width: 20%;
  height: 144px;
  
  background-color: #eec643;
  
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  border: none;
}

.btn-text {
  position: absolute;
  text-transform: uppercase;
  text-align: left;

  transform: rotate(-90deg);
}

.lessons__all {
  left: -50%;
  bottom: 37%;

  color: black;
}

.advantages__trial {
  left: -20%;
  bottom: 25%;
  color: white;
}

.inner {
  display: block;
  width: 100%;

  padding-top: 10px;
  padding-bottom: 55px;
  padding-left: 10px;
  margin-bottom: 15px;

  text-decoration: none;
}

.inner__small {
  display: block;
  width: 73%;
}

.subtitle {
  margin-bottom: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: bolder;
  color: white;
}


.inner__text {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: white;
  width: 80%;
}

.inner__text_vocal:before {
  content: 'Пой как Селин Дион и Эми Вайнхаус';
}

.inner__text_guitar:before {
  content: 'Начни играть как Джимми Хендрикс';
}

.inner__text_piano:before {
  content: 'Чувствуй клавиши как Людовико Эйнауди';
}

.inner__text_team:before {
  content: 'Учись только у профессионалов';
}

.inner__text_result:before {
  content: 'Выступай на отчетных концертах';
}

.inner__text_studio:before {
  content: 'Записывай песни каждый месяц';
}

.lessons__price {
  display: none;
}

.advantages__team {
  padding-right: 12px;
  background-image: url(../img/advantages_card_img_1.png);
  background-repeat: no-repeat;
}

.advantages__result {
  padding-right: 12px;
  background-image: url(../img/advantages_card_img_2.png);
  background-repeat: no-repeat;
}

.advantages__studio {
  background-image: url(../img/advantages_card_img_3.png);
  background-repeat: no-repeat;
}

.title_video {
  width: 80%;
}

.carousel{
  position: relative;
  width: 90%;
  margin-left: 15px;
}

.slick-prev {
  border: none;
  background-color: rgba(0,0,0,0);
  color: rgba(0,0,0,0);
  width: 0;
  height: 0;
}
.slick-prev:before {
  position: absolute;
  top: 50%;
  left: -5%;
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 1px solid #eec643;
  border-left: 1px solid #eec643;
  transform: rotate(-45deg);
}

.slick-next {
  border: none;
  background-color: rgba(0,0,0,0);
  color: rgba(0,0,0,0);
  width: 0;
  height: 0;
}

.slick-next:after {
  position: absolute;
  top: 50%;
  right: -5%;
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 1px solid #eec643;
  border-left: 1px solid #eec643;
  transform: rotate(135deg);
}

.video__wide {
  display: none;
}

.video__inner {
  display: none;
}

.address {
  display: inline-block;
  width: 60%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  margin-bottom: 16px;
}

.map {
  width: 100%;
  height: 216px;

  margin-bottom: 16px;
}

@media (min-width: 1280px) {
.nav, .footer {
  display: block;
}

body {
  width: 1280px;
  margin: 0 auto;
}

.total_wrapper {
  background-image: url(../img/bg_main_big.png);
  background-repeat: no-repeat;
}

.logo_header {
  margin: -35px;
  margin-left: 30px;
}

.nav {
  text-align: right;
  background-color: rgba(0, 0, 0, 0);
}

.nav__list {
  padding-top: 0;
  margin-top: 0;
  margin-right: 20px;
}

.nav__item {
  display: inline-block;
  letter-spacing: 1px;
}

.nav__item:last-child {
  margin-right: 35px;
}

.nav__link {
  color: black;
}

.title__full{
  display: inline-block;
}

.title__first-letter {
  text-transform: lowercase;
}

.promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0 30px 135px 30px;
}

.promo__wrap {
  margin-top: 100px;
  width: 60%;
}

.promo_title {
  font-size: 55px;
  line-height: 55px;
}

.slogan {
  width: 60%;

  font-size: 20px;
  line-height: 28px;
}

.promo__btn {
  display: none;
}

.form__trial {
  display: block;
  position: relative;
  margin-top: 150px;
  padding: 0 20px;
  width: 270px;
  height: 420px;
  box-sizing: border-box;
  border: 1px solid #021a23;
  background-color: rgba(255, 255, 255, 0.9);
}

.form__title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  color: #021a23;
}

.form__text {
  display: inline-block;
  margin-bottom: 20%;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
}

.form__input_txt {
  width: 100%;
  margin-top: 10px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid #021a23;
}

.form__btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: white;
  border: 1px solid #eec643;
  background-color: #eec643;
  text-transform: uppercase;
}

.form__btn_promo {
  border: 1px solid #021a23;
  background-color: #021a23;
}

.form__option {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  font-weight: normal;
}

.lessons {
  margin-top: 100px;
  margin-left: 100px;
}

.section__container {
  justify-content: flex-start;
}

.lessons__guitar {
  height: 269px;
  background-image: url(../img/directions_card_img_1.png);
  background-repeat: no-repeat;
  order: 0;
  width: 39%;
  padding: 0;
  margin-bottom: 30px;
  margin-left: 30px;
}

.lessons__vocal {
  background-image: url(../img/directions_card_img_2.png);
  background-repeat: no-repeat;
  order: 1;
  width: 47%;
  padding-right: 0;
  margin-bottom: 30px;
}

.lessons__piano {
  height: 269px;
  background-image: url(../img/directions_card_img_3.png);
  background-repeat: no-repeat;
  order: 1;
  padding: 0;
  margin-bottom: 30px;
  margin-left: 30px;

  width: 39%;
}

.section__btn {
  height: 269px;
  order: 1;
  width: 24%;
}

.lessons__lections {
  display: block;
  background-image: url(../img/directions_card_img_4.png);
  background-repeat: no-repeat;
  order: 1;
  width: 21%;
  text-decoration: none;
}

.btn-text {
  position: absolute;
  transform: rotate(0deg);
}

.lessons__all {
  left: 0%;
  bottom: 0%;
  top: 0%;
}

.lessons__lections, .inner, .inner__small {
  padding-right: 30px;
}

.advantages__btn {
  display: none;
}

.toggler {
  display: none;
}

.title {
  font-size: 50px;
  line-height: 62px;
}

.lessons {
  position: relative;
}

.title__lessons {
  position: absolute;
  transform: rotate(-90deg);
  left: -28%;
  bottom: 44%;
  width: 560px;
}

.inner {
  padding-left: 0;
}

.inner__text:before {
  display: none;
}

.subtitle, .lessons__all {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.subtitle, .inner__text, .lessons__price, .btn-text {
  margin-bottom: 15px;
}

.inner__text {
  width: 55%;
  letter-spacing: 1px;
}

.inner__text_vocal:after {
  content: 'Академический, рок, эстрадный, джазовый';
}

.inner__text_guitar:after {
  content: 'Хочешь играть как Джимми Хендрикс, Би Би Кинг или Андрес Сеговия - мы научим';
}

.inner__text_piano:after {
  content: 'Академический, рок, эстрадный, джазовый';
}

.inner__text_team:after {
  content: 'Тебя будут обучать профессионалы с высшим музыкальным образованием';
}

.inner__text_result:after {
  content: 'Выступи на отчетном концерте через три месяца обучения';
}

.inner__text_studio:after {
  content: 'Запиши свою песню в нашей студии звукозаписи, одна песня в месяц бесплатно';
}

.btn-text {
  margin-top: 30px;
}

.inner__text, .lessons__price {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  color: #fff;
}

.lessons__price {
  display: block;
  margin-top: 10px;
  color: #fff;  
  font-weight: bold;
}

.btn-text {
  text-transform: none;
  color: #fff;
  line-height: 40px;
}

.pl, .btn-text {
  padding-left: 30px;
}

.lection_txt {
  width: 90%;
}

.advantages {
  margin: 30px 30px;
  display: flex;
  justify-content: space-between;
}

.advantages__col_2 {
  width: 48.5%;
  display: flex;
  flex-wrap: wrap;
}

.title__advantages {
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages__team {
  margin-bottom: 0;
  margin-right: 42px;
  padding-right: 0;
  padding-top: 0;
  padding-left: 30px;
  width: 41%;
  height: 468px;
  background-image: url(../img/advantages_card_wide_1.png);
  background-repeat: no-repeat;
}

.advantages__result {
  margin-bottom: 0;
  padding-right: 0;
  padding-top: 0;
  padding-left: 30px;
  width: 41%;
  background-image: url(../img/advantages_card_wide_2.png);
  background-repeat: no-repeat;
}

.advantages__studio {
  margin-bottom: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 30px;
  width: 20.5%;
  background-image: url(../img/advantages_card_wide_3.png);
  background-repeat: no-repeat;
}

.inner__text {
  width: 95%;
  letter-spacing: 0;
}

.advantages__form {
  margin-top: 0;
  height: 568px;
  border: 1px solid #eec643;
}

.form__text_adv {
  margin-bottom: 150px;
}

div.carousel {
  display: none;
}

.wrap__title_video {
  position: relative;
  width: 11%;
}

.title_video {
  position: absolute;
  bottom: 40%;
  left: -150%;
  transform: rotate(-90deg);

  width: 550px;
}

.video__wide {
  display: block;
  background-image: url(../img/video_card_wide_1.png);
  background-repeat: no-repeat;
  padding-left: 30px;
  text-decoration: none;
  width: 60%;
  height: 568px;
}

.video__inner {
  width: 22%;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.video__small {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-decoration: none;
  height: 169px;
}

.video__subtitle {
  margin-bottom: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: bolder;
  color: white;
}

.video__text {
  display: inline-block;
  font-size: 14px;
  color: white;
  width: 100%;
}

.solo {
  background-image: url(../img/video_card_img_2.png);
  background-repeat: no-repeat;
  padding-left: 10px;
}

.concert {
  background-image: url(../img/video_card_img_3.png);
  background-repeat: no-repeat;
  padding-left: 10px;
}

.bart {
  background-image: url(../img/video_card_img_4.png);
  background-repeat: no-repeat;
  padding-left: 10px;
}

.contacts {
  position: relative;
  margin: 50px 30px 0 30px;
}

.title__address {
  display: inline-block;
  width: 50%;
}

.address {
  display: inline-block;
  width: 20%;
}

.video__form {
  width: 25%;
  position: absolute;
  top: 0;
  right: 0;
}

.map {
  width: 70%;
  height: 475px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin: 100px 30px 0 30px;
}

.logo {
  display: inline-block;
  font-family: "Prata", serif;
  font-size: 20px;
  font-weight: normal;
  color: #eec643;
}

.socials__list {
  flex-grow: 1;
  text-align: right;
}

.socials__item {
  display: inline-block;
  padding: 0px 20px;
}

.socials__link {
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

}